body {
    background-color: #0B7B9E;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 5px 4px 5px #212529;
    width: 40vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}